:root{
    --cor0: #85f9ff;
    --cor1: #478B8E;
    --cor2: #187479;
    --cor3: #8DC4C7;
    --cor4: #0E4245;
    --bg-main-h2: #b0f6fab2;
    --bg-body: #d0fdff;
    --color-hr: #85f9ff70;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Oswald', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-body);
    font-family: var(--fonte-padrao);
    color: var(--cor4);
}

header{
    background-color: var(--cor1);
    height: 20%;
    padding: 20px;
    text-align: center;
    color: white;
}

header > h1{
    font-family: var(--fonte-destaque);
    letter-spacing: 1.3px;
    font-size: 2.8em;
    text-transform: uppercase;
}

header > p{
    font-size: 1.1em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav{
    background-color: var(--cor1);
    padding-bottom: 15px;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    transition: 0.8s;
    border-radius: 7px;
}

nav > a:hover{
    background-color: var(--cor0);
    color: var(--cor4);
}

main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
}

main h1{
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 2.4em;
    color: var(--cor4);
}

main h3{
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0.8px;
    font-weight: normal;
    margin-bottom: 20px;
}

main p.manchete{
    font-family: var(--fonte-destaque);
    font-size: 1.1em;
    letter-spacing: 0.8px;
    font-weight: bold;
    margin-top: -10px;
    padding-left: 10px;
    color: var(--cor4);
}

div.not1 > .desc{
    padding-left: 10px;
    color: var(--cor1);
    max-width: 800px;
    text-align: justify;
    padding-top: 8px;
    padding-bottom: 17px;
}

span{
    font-weight: bold;
}

hr{
    border-color: var(--color-hr);
}

img{
    margin-top: 20px;
    padding: 8px;
}

a{
    text-decoration: none;
    color: var(--cor4);
}

footer{
    background-color: var(--cor2);
    color: var(--cor0);
    text-align: center;
    padding: 10px;
}

footer span{
    font-weight: bold;
}